body {
	background-color: #e1ddd9;
	font-size: 13px;
	font-family: Arial, SunSans-Regular, Sans-Serif;
	color:#564b47;  
	padding:0;
	margin:0;
}

a i
{
	color: #000;
}

a { 
	text-decoration: none; 
}
 
h1 a, h2 a, h3 a, h4 a
h1, h2, h3, h4 {
	color: #000;
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-weight: bold;
	text-rendering: optimizelegibility;
	background-color: transparent;
}

h1 {
	padding: 10px 5px 5px 5px;
	font-size: 36px;
	margin: 0;
}

h2 {
	padding: 0 5px 10px 5px;
	font-size: 16px;
	margin: 0;
}

h3 {
	padding: 5px;
	font-size: 16px;
	margin: 0;
	border-bottom: 1px solid #333333;
	background-color: #e1ddd9;
}

h4 {
	padding: 3px;
	font-size: 14px;
	margin: 0;
	border-bottom: 0;
	background-color: transparent;
}

.logo { margin: 20px 0; }

p, pre, ul {
	margin: 0; 
	padding: 5px 10px; 
}

ul {
	padding-left: 10px;
}

li {
	padding: 2px 0;
}

.post li {
	padding-left: 15px;
}

div {
	display: block;
}

blockquote {
	font-style: italic;
	margin: 0 30px 1.7em;
}

#disqus_thread {
	width: 95%;
	margin-left:auto;
	margin-right:auto;
	clear: both;
}

#post-container {
	background-color: #ffffff;
	border: 1px solid #564b47;
}
.post {
	width: 100%;
}

.post-content,
.post-excerpt {
	width: 75%;
	float: left;
	padding-top: 5px;
}

.post-aside {
	padding-top: 5px;
	width: 190px;
	float: left;
}

.post-aside-share {
	width: 40px;
	float: left;
}

.pagination {
	width: 100%;
	clear: both;
	text-align: center;
}

#header {
	width: 100%;
	border-bottom: 1px solid #000000;
}

#footer {
	clear: both;
	width: 100%;
	border: 0;
	padding: 50px 0;
	text-align: center;
}

#content {
	float: left;
	width: 66%;
	padding-left: 10px;
}

#topnav {
	padding: 10px 0;
	border: 0;
	margin-left: 10px;
}

ul.pages,
#topnav ul {
	list-style: none;
}

li.page, li.previous, li.next,
#topnav li {
	padding: 5px 10px 5px 10px;
	display: inline;
}

#sidenav ul {
	list-style: square;
	padding-left: 15px;
}

#sidenav ul.fa-ul{
	list-style: none;
	padding-left: 0px;
}

#sidenav li i,
#sidenav li {
	padding: 5px 0;
}

#sidenav li.active,
#topnav li.active{
	background-color: #000;
}

#sidenav li a,
#topnav li a {
	color: #000;
}

#sidenav li a.active,
#topnav li a.active {
	color: #ccc;
}

#sidenav li:hover,
#topnav li:hover {
	background-color: #000;
}

#sidenav li:hover > a,
#topnav li:hover > a {
	color: #ccc;
}

#sidenav {
	float: left;
	width: 30%;
	margin-left: 20px;
}

#sidenav > div#sidenav-wide {
	float: none;
	width: 100%;
}

#sidenav > div {
	float: left;
	width: 48%;
	border: 0;
}

#sidenav > div > div {
	width: 100%;	
	border-top: 2px solid #000000;
	padding: 5px 0;
	padding-bottom: 10px;
}

#sidenav-left {
	clear: both;	
}

#sidenav-right {
	margin-left: 3%;
}

#sidenav ul.horizontal {
	list-style: none;
	padding: 5px 0;
}

#sidenav ul.horizontal > li {
	padding: 5px;
	display: inline;
}

.clear {
	clear: both;
}

.fa-twitter {
	color: #4099FF;
}

.fa-facebook {
	color: #3B5998;
}

.fa-google-plus {
	color: #dd1812;
}

.fa-youtube {
	color: #bb0000;
}

.fa-linkedin {
	color: #0e76a8;
}

.fa-flickr {
	color: #0063dc;
}

.fa-foursqaure {
	color: #0072b1;
}

.fa-github {
	color: #171515;
}

.spotify {
	color: #81b71a;
}

.last-fm {
	color: #c3000d;
}

.post-aside ul.fa-ul {
	margin-left: 5px;
}
.post-aside ul.fa-ul li {
	padding-left: 5px;
}
