<script type="text/javascript">
      function drawChart_{{ include.chart_name }}() {
        var query = new google.visualization.Query({% include {{include.chart_data}} %});
        query.send(handleChartQueryResponse_{{ include.chart_name }});
      }

      function handleChartQueryResponse_{{ include.chart_name }}(response) {
        var data = response.getDataTable();

        var options = {
          title: '{{ include.chart_title }}',
          curveType: "function",
          vAxis: { minValue: {{include.chart_min}}, maxValue: {{include.chart_max}} },
          backgroundColor: { fill:'transparent' }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('{{ include.chart_name }}'));
        chart.draw(data, options);
      }
</script>