<div id="chart_weight" style="width: 500px; height: 500px;"></div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Weight (lbs)'],
          ['2014-01-05',  186.6],
          ['2014-01-07',  186.4],
          ['2014-01-08',  185.2],
        ]);

        var options = {
          	title: 'Weight over Time',
          	curveType: "function",
			width: 500, height: 500,
            vAxis: {maxValue: 200, minValue: 160}
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_weight'));
        chart.draw(data, options);
      }
</script>